<header>
    <nav class="nav">
<div class="container-fluid">
        <div class='row justify-content-between border'>

            <div class='col-4 col-md-6 col-lg-6 text-left border'>
                <a routerLink="">
                    <img class='filmbutiken-logo' src='assets/images/movie-logo.jpg' alt='First slide' title='movie shop logo'>
                </a>
            </div>

            <div class='col-8 col-md-6 col-lg-4 text-right border'>

                <i class='fas fa-shopping-cart icon' (click)='dropDownMovieCart()'></i>
                <a routerLink='/admin'><i class="fas fa-user admin"></i></a>
                <div id="totalAmount">{{totalAmount}}</div>
                <div class='dropDownCart text-left' *ngIf='showShopphingCart'>

                    <h2>Min kundkorg:</h2>

                    <div class="single-dropDown-item" *ngFor='let singleMovie of cart'>

                        <div class="big-wrapper d-flex">
                            <div class="image-wrapper">
                                <img class="dropDownImages" src="{{singleMovie.movie.imageUrl}}" alt='{{singleMovie.movie.name}}'>
                            </div>

                            <div class="info-wrapper">
                                Title: {{singleMovie.movie.name}}<br> 
                                <i class='add fas fa-plus add' (click)='addMovie(singleMovie.movie)'></i>
                                {{singleMovie.amount}}
                                <i class='subtract fas fa-minus' (click)='deleteMovie(singleMovie.movie.id)'></i><br>
                                Pris: {{singleMovie.movie.price}} sek <br>

                                <strong>Total: {{singleMovie.totalPriceOfMovie}}</strong> sek
                            </div>
                        </div>
                    </div>
                    <hr>
                    <strong>Total summa: {{totalSum}} </strong>sek
                    <button type='buttonSendToCheckout' routerLink='/submit' class='btn buttonCheckout'>Gå vidare</button>
                </div>

            </div>
        </div>
        </div>
    </nav>

</header>