nav {
    height: 15vh;
    background-color: #2f2c2c;
    color: white; 
}

#totalAmount {
    text-align: center !important;
    position: absolute;
    top: 1.5em;
    right: 3em;
    width: 25px;
    height: 25px;
    background-color: yellow;
    border-radius: 50%;
    color: black;
    padding: 0;
}
img {
    max-height: 100px;
}
.filmbutiken-logo {
    max-width: 300px;
    margin-top: 30px;
    float: left;
      
}

.dropDownCart {
    background-color: #2f2c2c;
    position: absolute;
    z-index: 1; 
    width: 100%;
    height: 500px;
    overflow: scroll;
    padding: 2em;
 
}
.single-dropDown-item {
    margin: 1em 0;
}

.icon {
    color: #cb7713;
    font-size: 30px;
    margin-top: 35px;
    
}

.buttonCheckout {
    background-color:  #cb7713;
    color: white;
    font-size: 20px;
}
.add {
    padding: 0.5em;
}

