<footer class="row align-items-end footer" role="contentinfo">

  <div class="col-12 text-center">
    <div class="iconFooter">
      <a href="https://instagram.com" target="_blank"><i class="instagramIcon fab fa-instagram mr-3" aria-label="Instagram icon"></i></a>
      <a href="https://facebook.com" target="_blank"><i class="facebookIcon fab fa-facebook-square mr-3" aria-label="Facebook icon"></i></a>
    </div>
    <p class="footerText">Copyright &copy; 2019 MovieShop</p>
  </div>

  <div class='col-12 text-center'>
    <a>
      <img class='filmbutikenLogo' src='assets/images/movie-logo.jpg' alt='First slide' title='movie shop logo'>
    </a>
  </div>
</footer>