.single-dropDown-item {
    margin: 1em 0;
}

.wrapperCheckout {
margin-top: 150px;
}

.imageCheckout {
    max-height: 180px;

 }
 h1 {
    font-size: 25px;
 }

 h2 {
     font-size: 15px;
 }

 .cardForm {
    background-color: lightgray;
    color: black;
 }

.add {
    width: 20px;
    height: 20px;
    background-color: lightgray;
    border-radius: 50%;
    color: black;
    padding: 2.3px;
}

.minus {
    width: 20px;
    height: 20px;
    background-color: lightgray;
    border-radius: 50%;
    color: black;
    padding: 2.3px;
    
    
} 
.info-wrapper {
    padding-left: 20px;
}

@media screen and (min-width: 768px) {
    .wrapperCheckout {
        margin-top: 150px;
        }
        
        .imageCheckout {
            max-height: 250px;
        
         }
         h1 {
            font-size: 35px;
            margin-bottom: 50px;
         }
        
         h2 {
             font-size: 18px;
         }
    
  

}

@media screen and (min-width: 992px) { 

   
 
}
