<main role="main">
  <article class="row orderContainer justify-content-center">

    <div class="col-10 col-md-8 col-lg-6 cardOrder">
      <h1><i class="far fa-folder-open iconOrder "></i> Orderar </h1>

      <div class="orders" *ngFor="let orders of extendedOrders">

        <div *ngFor="let orderRow of orders.order.orderRows" class="singleOrder">
          <p class="orderInformation">Order id: {{ orders.order.id }}</p>
          <p class="orderInformation">Skapad av: {{ orders.order.createdBy }}</p>
          <p class="orderInformation">Total pris: {{ orders.order.totalPrice }}:-</p>
          <p class="orderInformation">Tid: {{ orders.order.created }}</p>
          <p class="orderInformation">Företags id: {{ orders.order.companyId }}</p>

          <div *ngFor="let name of orders.movieNames">
            <p class="orderInformation">- {{ name }}</p>
            <p class="orderInformation">Produkt id: {{ orderRow.productId }}</p>
            <p class="orderInformation">Antal: {{ orderRow.amount }}</p>
          </div>
          <hr>
        </div>
      </div>
      <hr>
    </div>

  </article>
</main>