.cardOrder {
    background-color: #bfbfbf;
    color: black;
    margin-top: 150px;    
}

h1 {
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 25px;
}

.iconOrder {
    color:gray;
}

p {
    color: black;
    margin: 0;
}