.frameMovies {
    overflow: hidden;
    /* height: 250px; 
    width: 190px; */
  
}

.image {
    object-fit: cover;
    height: 250px;
    text-align: center;

}

h2 {
    font-size: 1em;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: .5rem;
}
h3 {
    font-size: .8em;

}

li {
   list-style: none;
}

.addToCard {
    background-color: #cb7713;
    color: white;
    margin-bottom: 5px; 
    margin-top: 5px;
    font-size: 12px;

 
}



@media screen and (min-width: 768px) {

    .frameMovies {
        height: 350px; 
        width: 220px;
      
    }
    
    .image {
        /* object-fit: cover; */
        height: 350px; 
        width: 220px;
        
    }


}

@media screen and (min-width: 992px) { 

    .frameMovies {
     
       
       
       
    }
    .image {
       
    }  
 
}