.frameMovies {
    height: 300px;
    width: 180px; 
    overflow: hidden; 
   
}
.image {
    object-fit: cover;
    height: 300px; 
    width: 180px;
    overflow: hidden;

   
}





@media (min-width: 768px) {

    .frameMovies {
        height: 200px;
        width: 150px; 
       
       
    }
    .image {
        height: 200px;  
        width: 150px; 
    }    

}

@media (min-width: 992px) { 

    .frameMovies {
        height: 400px;
        width: 300px; 
       
       
    }
    .image {
        height: 400px;  
        width: 300px; 
    }  
 
}